body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


.container h2 {
    font-family: "Times New Roman", Times, serif, cursive;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 18px;
}


@font-face {
  font-family: "SnellBT Regular";
  src: url(../fonts/SnellBT-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: "SnellBT Bold";
  src: url(../fonts/SnellBT-Bold.otf);
  font-weight: 700;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main_body_content {
  margin: 45px 45px 0 45px;
  -webkit-box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.07);
}

/*header section*/
.hero_area {
  height: calc(100vh - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "SnellBT Regular", sans-serif;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #000000;
  font-weight: bold;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  font-family: "SnellBT Regular", sans-serif;
  color: #000000;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  margin: 0 30px;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container {
  z-index: 99999;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #fefce5;
  border-radius: 5px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #46200b;
  border-radius: 5px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/
.about_section .container {
  background-color: #fefce5; 
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 6px #fefce5;
}
.about_section .detail-box p {
  color: #000000; /*#6c6c6c;*/
  font-family: "Times New Roman", Times, serif, cursive;
  font-size: 1.2rem;
  padding: 0 18px; 
  text-align: justify;
}

.about_section .detail-box a {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; */
  color: #e5a3a3; /*#6c6c6c;*/
  font-family: "Times New Roman", Times, serif, cursive;
  font-size: 1.2rem;
  /* font-weight: bold;
  margin-top: 25px; */
} 

.about_section .detail-box a span {
  margin-right: 5px;
}

.about_section .detail-box a img {
  width: 65px;
}

.about_section .img-box img {
  width: 100%;
}

.client_section .heading_container {
  margin-bottom: 45px;
  padding-left: 30%;
}

.client_section .img-box img {
  width: 100%;
}

.client_section .client_container {
  background-color: #fefee5;
  background-size: 90% 100%;
  border-radius: 6px;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #f5b3b3;
  padding: 75px 0 175px 0;
}

.client_section .client_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 150px 0 15px;
  border-radius: 6px;
}

.client_section .client_container .box .img-box {
  position: relative;
  width: 256px;
  min-width: 256px;
  padding: 0 0 20px 20px;
  margin-right: 25px;
}

.client_section .client_container .box .img-box img {
  position: relative;
  z-index: 3;
}

.client_section .client_container .box .img-box video {
  position: relative;
  z-index: 3;
}

.client_section .client_container .box .img-box:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75%;
  height: 75%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
}

.client_section .client_container .box .detail-box {
  margin-top: 45px;
}

.client_section .client_container .box .detail-box h4 {
  font-weight: 600;
}

.client_section .client_container .box .detail-box p {
  margin-top: 10px;
  margin-bottom: 25px;
}

.client_section .client_container .box .detail-box i {
  font-size: 24px;
}

.client_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
}

.client_section .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #2a2a2a;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  background-color: #a04120;
}

.client_section .carousel_btn-box {
  position: absolute;
  top: 45%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.client_section .carousel_btn-box .carousel-control-prev,
.client_section .carousel_btn-box .carousel-control-next {
  position: unset;
  width: 55px;
  height: 55px;
  font-size: 12px;
  background-color: #ffffff;
  opacity: 1;
  color: #dd7d9d;
  margin: 2.5px 0;
}

.client_section .carousel_btn-box .carousel-control-prev:hover,
.client_section .carousel_btn-box .carousel-control-next:hover {
  color: #46200b;
}


.info_section {
  background-color: #111111;
  color: #ffffff;
}

.info_section .info_form_social_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.info_section .info_form {
  width: 100%;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info_section .info_form form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
  height: 50px;
  padding-left: 15px;
  outline: none;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #46200b;
}

.info_section .info_form form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::placeholder {
  color: #9c9c9c;
}

.info_section .info_form form button {
  background-color: transparent;
  color: #46200b;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 15.5px 25px;
  background-color: #a04120;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #a04120;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  color: #a04120;
}

.info_section .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
}

.info_section h4 {
  font-family: "SnellBT Regular", sans-serif;
  margin-bottom: 15px;
}

.info_section .info_links .info_links_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_links .info_links_menu a {
  color: #ffffff;
}

.info_section .info_links .info_links_menu a:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}

.info_section .info_insta .insta_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_insta .insta_box .img-box {
  width: 65px;
  min-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-right: 10px;
}

.info_section .info_insta .insta_box .img-box img {
  width: 45px;
}

.info_section .info_insta .insta_box p {
  margin: 0;
}

.info_section .info_insta .insta_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.info_section .info_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  margin-right: 5px;
  width: 25px;
}

.info_section .info_contact a:hover p {
  color: #ffffff;
}

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #ffffff;
}

.footer_section p {
  color: #111111;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

.footer_section a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */